<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
	   <extension
         point="org.eclipse.ui.views">
      <view
            name="RACI Table"
            category="com.lowcoupling.mdpm.views"
            class="com.lowcoupling.mdpm.ui.raciview.views.RACIView"
            id="com.lowcoupling.mdpm.ui.raciview.views.RACIView">
      </view>
   </extension>
</plugin>
