<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/mdpm/lng/plan/Plan" 
       class = "com.lowcoupling.mdpm.lng.plan.plan.PlanPackage"
       genModel = "com/lowcoupling/mdpm/lng/plan/Plan.genmodel" /> 
	
  </extension>




</plugin>
